// Fonts
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet');
// Bootstrap
@import '~bootstrap/scss/bootstrap';
[v-cloak] > * { display: none; }
p {
    font-size: 2rem;
    line-height: 3rem;
}
.header-container {
    background: url('/images/banner.jpg');
    background-size: cover;
    background-position: center;
    height: 400px;
}
h1, h2, h3, h4, h5, h6, button, input {
    font-family: 'Press Start 2P', cursive !important;
}
body {
    font-family: 'VT323', monospace;
    font-size: 2rem;
}
